/* general */
@font-face {
    font-family: 'Anurati';
    src: url('src/Anurati.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #004c98;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    user-select: none;
    scroll-snap-type: y mandatory; /* Add this line */
    scroll-behavior: smooth
}
/* general */
/* Text */

.title{
    font-family: 'Roboto';
    font-size: 4em;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    position: sticky;
}

.subtitle {
    font-family: 'Roboto';
    font-size: 2em;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    position: sticky;
}

.description {
    font-family: 'Roboto';
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
}

.text {
    position: sticky;
    top: 0;
}
/* Text */

/* topRow */

.topRow {
    position: fixed; top: 0; left: 0; right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 20vh;
    padding: 0 5vw;
    /* background-color: #004c98; */
    transition: all 0.3s ease;
}

.logo {
    position: relative;
    /* background-color: #08FD67; */
    height: 15vh;
    font-family: 'Anurati';
    font-size: 5em;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
}

/* topRow */
/* content-1 */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 25vh;
    background-color: #08FD67;
    transition: all 0.3s ease;
    scroll-snap-align: start; /* Add this line */
}
/* 
.content-title {
}

.content-subtitle {
}

.content-description {
}
 */
.link-TH {
    color: inherit;      /* The color of the text */
    text-decoration: none;   /* No underline */
}

/* content-1 */
/* content-2 */

.content-2{
    background-color: #08C2FD;
}

/* content-2 */
/* onScroll */

.topRow-onScroll {
    height: 10vh;
    padding: 0 2vw;
}

.logo-onScroll {
    font-size: 3em;
    height: 8vh;
}

/* onScroll */










.background {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.circle-1 {
    background-color: #08C2FD;
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    position: absolute;
    transform: translate(-30%, -40%);
}
.circle-2 {
    background-color: #08FD67;
    width: 65vw;
    height: 65vw;
    border-radius: 50%;
    position: absolute;
    transform: translate(+80%, +50%);
}

.frost{
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 1000%;
    background: linear-gradient(94deg, rgba(217, 217, 217, 0.20) 10.07%, rgba(217, 217, 217, 0.10) 30.94%); 
    backdrop-filter: blur(8px);
}
