/* general */
@font-face {
    font-family: 'Anurati';
    src: url('src/Anurati.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #004c98;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(94deg, rgba(217, 217, 217, 0.20) 10.07%, rgba(217, 217, 217, 0.10) 30.94%); 
    backdrop-filter: blur(8px);
}

.popup-content {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 80%;
    background: linear-gradient(94deg, rgba(217, 217, 217, 0.20) 30.07%, rgba(217, 217, 217, 0.10) 60.94%); 
    backdrop-filter: blur(8px);
}

.welcome {
    font-family: 'Anurati';
}

.link-mail {
    color: inherit;      /* The color of the text */
    text-decoration: none;   /* No underline */
}

.close {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

    .title{
        height: 10vh;
        width: 100vw;/* 
        background-color: aqua; */
        padding-top: 1vh;
        font-size: 4em;
        color: #fff;
        text-align: center;
        transition: all 0.3s ease;
    }

        .subtitle {
            font-size: 2em;
            color: #fff;
            text-align: center;
            transition: all 0.3s ease;
        }

        .description {
            font-size: 1.5em;
            color: #fff;
            text-align: center;
            transition: all 0.3s ease;
        }

    .topRow {
        position: fixed; top: 0; left: 0; right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 20vh;
        padding: 0 5vw;
        transition: all 0.3s ease;
    }
        
        .topRow-onScroll {
            height: 10vh;
            padding: 0 2vw;
        }

        .logo {
            position: relative;
            height: 15vh;
            font-family: 'Anurati';
            font-size: 5em;
            color: #fff;
            text-align: center;
            line-height: 15vh;
            transition: all 0.3s ease;
            /* background-color: #08fd49; */
        }

            .logo-onScroll {
                font-size: 3em;
                height: 10vh;
                line-height: 10vh;
            }

    .site {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 0 25vh;
        padding-bottom: 5vh;
        transition: all 0.3s ease;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

        .content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 80%;
            padding-top: 5vh;
            padding-bottom: 5vh;
            transition: all 0.3s ease;
        }

            .left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 80%;
                margin: 2vh 2vw;
                padding: 0 5vw;
                transition: all 0.3s ease;
                /* background-color: #08fd49; */
            }

            .right {
                display: grid;
                gap: 2vh;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr ;
                width: 50%;
                height: 80%;
                margin: 2vh 2vw;
                padding: 0 2vw;
                transition: all 0.3s ease;
                /* background-color: #fd08d4; */
            }

        .landing{
            /* background-color: #08fd49; */
            justify-content: center;
            
        }
            .link-TH {
                color: inherit;      /* The color of the text */
                text-decoration: none;   /* No underline */
            }

        /*Coding*/
            .skills {
                /* background-color: #0845fd; */
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1.2em;
                border: 3px solid;
                border-radius: 10px;
                padding: 20px;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                background: linear-gradient(94deg, rgba(217, 217, 217, 0.20) 10.07%, rgba(217, 217, 217, 0.10) 30.94%); 
                backdrop-filter: blur(8px);
                transition: all 0.3s ease;
            }
                
                .coding-icons {
                    font-size: 3em !important;
                    color: #fff;
                    padding-bottom: 1vh;
                    transition: all 0.3s ease;
                }

                .coding-icons:hover {
                    font-size: 4em !important;
                }
            .skills:hover {
                transform: scale(1.1);
            }
        /*Coding*/
        /*Projects*/
        .projects{
            max-width: 400vw;
        }
            .content-projects {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100vw;
                height: 80%;
                padding-top: 5vh;
                padding-bottom: 5vh;
                transition: all 0.3s ease;
            }
                .prev-next{
                    color: #ffff;
                    font-size: 3em !important;
                }

                .carousel{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80vw;
                    height: 80vh;
                    border-radius: 10px;
                    color: #ffff;
                    border: 3px solid;
                    background: linear-gradient(94deg, rgba(217, 217, 217, 0.20) 10.07%, rgba(217, 217, 217, 0.10) 30.94%); 
                    backdrop-filter: blur(8px);
                    transition: all 0.3s ease;
                }
                    .carousel-content {
                        scroll-snap-type: x mandatory;
                        overflow-x: scroll;
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        width: 4 * 80vw;
                        height: 100%;
                        background-color: #004c98;
                    }
                  
                        .carousel-item {
                            scroll-snap-align: start;
                            flex: 0 0 80vw;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 2em;
                            color: #ffff;
                            background-color: #980059;
                        }
                

/*  
        .projects{
            background-color: #08C2FD;
        }

        .contact{
            background-color: #FD08C2;
        }

        .about{
            background-color: #FD6708;
        } */

    .background {
        z-index: -1;
        position: absolute;
        width: 100vw;
        height: 500vh;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

        .circle-blue {
            background-color: #08C2FD;
            width: 60vw;
            height: 60vw;
            border-radius: 50%;
            position: absolute;
        }

            .circle-blue-1 {
                transform: translate(-30%, -40%);
            }

            .circle-blue-2 {
                transform: translate(-30%, 140%);
            }

            .circle-blue-3 {
                transform: translate(-30%, 280%);
            }

        .circle-green {
            background-color: #08FD67;
            width: 60vw;
            height: 60vw;
            border-radius: 50%;
            position: absolute;
        }

            .circle-green-1 {
                transform: translate(+80%, +50%);
            }

            .circle-green-2 {
                transform: translate(+80%, +190%);

            }
            .circle-green-3 {
                transform: translate(+80%, +340%);
            }


        .frost{
            z-index: 0;
            position: absolute;
            width: 100vw;
            height: 500vh;
            background: linear-gradient(94deg, rgba(217, 217, 217, 0.20) 10.07%, rgba(217, 217, 217, 0.10) 30.94%); 
            backdrop-filter: blur(8px);
        }
